<div class="interface">
  <div class="bg">
      <img src="./assets/images/glacierbg.jpeg" width="100%" alt="">
  </div>

  <div class="nav">
    <div class="logo">
      <img class="icon" src="./assets/images/Earth.png" height="90%" alt="">
      <h1>Glacier View</h1>
    </div>
      
      <h2>Hi,{{user}}</h2>
  </div>

  <div class="datafetch" >
      <div class="dvcchoose">
        <button linkDBbtn (click)="clickGetDvc(1)">Wash machine</button>
        <button linkDBbtn (click)="clickGetDvc(2)">Kettle</button>
        <button linkDBbtn (click)="clickGetDvc(3)">Television(lcd)</button>
        <button linkDBbtn (click)="clickGetDvc(4)">Game Console</button>
        <button linkDBbtn (click)="clickGetDvc(5)">Tablet/hand-held game</button>
        <button linkDBbtn (click)="clickGetDvc(6)">Mobile phone</button>
        <button linkDBbtn (click)="clickGetDvc(7)">Laptop PC</button>
        <button linkDBbtn (click)="clickGetDvc(8)">Desktop PC</button>
      </div>
      
      <div class="showdata">
          <h3>Device: {{Device}}</h3>
          <label for="">Hours : </label>
          <input placeholder="    number only   " style="background-color:transparent; border:3px,rgb(150, 72, 196); color: antiquewhite;"type="text" [(ngModel)]="Hours">
      </div>

      <button class="linkDBbtn" (click)="clickLinkDB()">next</button>
  </div>
  
</div>

<style>
  div>span{
      margin:10px;
      padding: 5px 10px;
      background-color: transparent;
  }
</style>

<style>
  label{
    font-size: 1.1em;
    font-weight: bold;
  }
</style>

<style>
  button{
    font-size: 1.3em;
    margin: 5px;
    width: 250px;
    padding: 3px;
    border-radius: 8px;
    background-color: transparent;
    color: aliceblue;
  }
</style>
