<h1>username : {{username}}</h1>

<div>
  <label for="">username</label>
  <input type="text" [(ngModel)]="username">
</div>
<div>
  <label for="">password</label>
  <input type="text" [(ngModel)]="password">
</div>

<button (click)="clickEvent()">Log in</button>

<div>
  <label for="">Device</label>
  <input #inputdevice type="text">
</div>

<div>
  <label for="">hours</label>
  <input #inputhrs type="text">

</div>

<button (click)="getContent(inputdevice.value,inputhrs.value)">Log in</button>


<style>
  div>span{
    margin:20px;
    padding: 5px 10px;
    background-color: skyblue;
  }
</style>


<div>
  <span [routerLink]="['/glacier1']" routerLinkActive="router-link-active">glacier one</span>
  <span [routerLink]="['/glacier2']" routerLinkActive="router-link-active">glacier two</span> 
</div>


<router-outlet></router-outlet>