<div class="interface">
    <div class="bg">
      <img src="./assets/images/glacierbg.jpeg" width="100%" alt="">
    </div>

    <div class="logincom">
       
        <div class="un">
            <label for="">username</label>
            <input style="background-color:transparent; border:3px,rgb(150, 72, 196);color: antiquewhite;" type="text" [(ngModel)]="username">
        </div>

        <div class="pw">
            <label for="">password</label>
            <input style="background-color:transparent; border:3px,rgb(150, 72, 196); color: antiquewhite;"type="text" [(ngModel)]="password">
        </div>

        <button (click)="clickEvent()">Log in</button>
        <button (click)="clickEvent()">back</button>
  </div>
</div>

    
